{% extends 'blog/base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid text-white" style="background:#417690">
        <div class="container">
            <h1 class="display-3 text-center">Historia ya Prolife</h1>
            <p class="lead text-center">
                Historia fupi kuhusu prolife
            </p>
        </div>
    </div>

    <div class="container">
                
        <hr class="my-2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste itaque corporis consequuntur suscipit, placeat facere aspernatur mollitia, iusto repudiandae non nulla, deleniti possimus sed excepturi amet ab doloribus adipisci numquam?
        Fugit, sequi incidunt earum cumque laudantium unde nam in consequatur doloremque voluptates quo itaque accusamus ipsa labore quisquam laborum obcaecati aspernatur architecto? Odio hic unde quae quia qui, deleniti temporibus!
        Mollitia reprehenderit asperiores optio amet et expedita fugiat, est id at dolorum corrupti, natus saepe consectetur cumque labore debitis laboriosam hic perferendis enim sunt dolorem quas! Vitae deleniti ullam doloribus!
        Aliquam cumque nemo doloribus doloremque nihil inventore, officia libero sit animi omnis, repellendus culpa quis quia, architecto illo deleniti? Commodi modi quam amet aliquam deserunt odio unde et obcaecati impedit!
        Officiis deleniti impedit, ex alias nam mollitia distinctio a molestias similique laboriosam, nesciunt totam commodi corrupti. Soluta quia assumenda quis, maiores natus maxime illo quae nemo pariatur, harum delectus. Dicta.</p>
            
    </div> 
{% endblock content %}
