{% extends 'blog/base.html' %} 
{% block content %}
    <h1>Contacts</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam eum molestiae pariatur cumque dignissimos mollitia veritatis sint, inventore laboriosam ad, similique enim placeat voluptatum nihil tenetur minima! Provident, quod velit!
    Rem excepturi quam voluptas. Ab deleniti eos, velit dolore veniam, recusandae necessitatibus eaque in minus, odio sint optio et sit provident obcaecati sapiente. Autem fuga ullam possimus earum. Maxime, similique?
    Impedit, consectetur maiores blanditiis doloribus fugit at molestias numquam dicta quidem, quae sequi. Incidunt ut eaque blanditiis sit quam ipsa nam doloremque harum et voluptates. Molestias nihil cupiditate ut atque!
    Aut ad non dolores aliquam dolore laudantium consequatur voluptas sunt obcaecati praesentium facere modi error, vero enim doloremque veritatis quo. Enim excepturi saepe autem rem quia voluptas aspernatur incidunt perferendis.
    Culpa similique id, ipsum esse omnis ratione reprehenderit veniam et nihil quidem numquam modi! Aperiam unde a expedita libero labore necessitatibus. Vel vero ratione aspernatur corporis voluptatem cum veritatis enim.</p>
{% endblock content %}