{% extends 'blog/base.html' %}
{% block content %}
    
    {% block home %}
        
    {% endblock home %}
        
    <br class="my-2">
    {% for post in posts %}
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user_posts' post.author.username %}">By {{ post.author }} </a>
                    <small class="text-muted">{{post.date_posted | date:"F d, Y"}}</small> 
                </div>
                <h4 class="card-title">
                    <h2>{{ post.title }}</h2>
                </h4>
                <p class="card-text">{{ post.content|safe|truncatewords:"50"|linebreaks }}</p>
                <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Read More &rarr;</a>
            </div>

        </div>
        <br class="my-2"> 
    {% endfor %}

    {% include 'blog/paginator.html' %}  

{% endblock content %}


