<!-- {% extends 'blog/base.html' %} {% block content %}
<h1>Blog Posts</h1>
{% endblock content %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="post.css">
</head>

<body>
    <div class="dropdown">
        <button class="dropbtn">Blog</button>
        <ul>
            <li><a href="#">NDOA NA UCHUMBA</a>
                <ul>
                    <li><a href="#">Mafunzo ya Ndoa</a> </li>
                    <li><a href="#">Mila na Desturi</a></li>
                    <li><a href="#">Mahari</a></li>
                </ul>
            </li>

            <li><a href="#">FAMILIA</a>
                <ul>
                    <li><a href="#">Mafundisho ya Familia</a> </li>
                    <li><a href="#">Mpango wa Uzazi</a></li>
                    <li><a href="#">Malezi</a></li>
                    <li><a href="#">Wajibu wa Wanafamilia</a></li>
                </ul>
            </li>
            <li><a href="#">MIMBA</a>
                <ul>
                    <li><a href="#">Ukuaji wa Mimba</a></li>
                    <li><a href="#">Utoaji Mimba</a></li>
                    <li><a href="#">Baraka za Mtoto</a></li>
                    <li><a href="#">Ushauri Nasaha</a></li>
                </ul>
            </li>

            <li><a href="#">SHERIA</a>
                <ul>
                    <li><a href="#">Sheria za Ndoa</a></li>
                    <li><a href="#">Mauaji</a></li>
                    <li><a href="#">Ukatili na Unyanyasaji</a> </li>
                </ul>
            </li>

            <li><a href="#">WATOTO</a>
                <ul>
                    <li><a href="#">Malezi ya Mtoto</a></li>
                    <li><a href="#">Wajibu wa Mtoto</a></li>
                    <li><a href="#">Haki za Mtoto</a> </li>
                    <li><a href="#">Mila na Desturi</a></li>
                </ul>

            </li>
            <li><a href="#">VIJANA</a>
                <ul>
                    <li><a href="#">Hatua za Ukuaji</a></li>
                    <li><a href="#">Balehe kwa Vijana</a></li>
                    <li><a href="#">Tabia za kuepuka</a> </li>
                    <li><a href="#">Elimu ya Jinsia</a></li>
                    <li><a href="#">Kujitambua</a></li>
                    <li><a href="#">Utafutaji</a></li>
                    <li><a href="#">Maisha ya Kijana</a> </li>
                    <li><a href="#">Kijana na Kanisa</a></li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>