{% extends 'blog/base.html' %}

{% block content %}

    <div class="jumbotron jumbotron-fluid text-white" style="background:#417690">
        <h1 class="display-3 text-center">Sala za Prolife</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sala 1</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sala 2</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sala 3</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br class="my-2">

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sala 4</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sala 5</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="holder.js/100px180/" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sala 6</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}