<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha484-ggOyR0iXCbMQv4Xipma44MD+dH/1fQ784/j4cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sala 1</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sala 2</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sala 3</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sala 4</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sala 5</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">
                    <h4 class="card-title">Sala 6</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ad sit nihil ab hic molestiae et temporibus excepturi obcaecati cumque omnis voluptas, vero quia culpa nemo magnam vel repellendus libero?</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-4.4.1.slim.min.js" integrity="sha484-q8i/X+945DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi4jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha484-UO2eT0CpHqdSJQ4hJty5KVphtPhzWj9WO1clHTMGa4JDZwrnQq4sF84dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha484-JjSmVgyd0p4pXB1rRibZUAYoIIy4OrQ4VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>